BACKEND/n8n_dossier_workflow.json
{
  "name": "Residanat Workflow Complet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dossier-status",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 100, 300 ],
      "webhookId": "dossier-status-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"status\"]}}",
              "value2": "ACCEPTED"
            }
          ]
        }
      },
      "name": "Is Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 350, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"status\"]}}",
              "value2": "FORGOT_PASSWORD"
            }
          ]
        }
      },
      "name": "Is Reset Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 350, 500 ]
    },
    {
      "parameters": {
        "fromEmail": "admin@residanat.tn",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email\"]}}",
        "subject": "Code de réinitialisation de mot de passe - Résidanat TN",
        "html": "<html>\n<body>\n  <h2>Bonjour {{$node[\"Webhook\"].json[\"body\"][\"nom\"]}},</h2>\n  <p>Vous avez demandé la réinitialisation de votre mot de passe pour votre espace Résidanat.</p>\n  <p>Votre code de vérification est : <b style='font-size: 24px; color: #008fbb;'>{{$node[\"Webhook\"].json[\"body\"][\"resetCode\"]}}</b></p>\n  <p>Ce code est valable pendant 15 minutes.</p>\n  <p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet e-mail.</p>\n  <br>\n  <p>Cordialement,<br>L'équipe Residanat.</p>\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Reset Code Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [ 600, 600 ]
    },
    {
      "parameters": {
        "fromEmail": "admin@residanat.tn",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email\"]}}",
        "subject": "Félicitations !",
        "html": "<html><body><h2>Bonjour {{$node[\"Webhook\"].json[\"body\"][\"nom\"]}},</h2><p>Dossier ACCEPTE.</p></body></html>"
      },
      "name": "Send Accept Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [ 600, 200 ]
    },
    {
      "parameters": {
        "fromEmail": "admin@residanat.tn",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email\"]}}",
        "subject": "Mise à jour dossier",
        "html": "<html><body><h2>Bonjour {{$node[\"Webhook\"].json[\"body\"][\"nom\"]}},</h2><p>Dossier REJETE.</p></body></html>"
      },
      "name": "Send Reject Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [ 600, 400 ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [ [ { "node": "Is Accepted?", "type": "main", "index": 0 } ] ]
    },
    "Is Accepted?": {
      "main": [
        [ { "node": "Send Accept Email", "type": "main", "index": 0 } ],
        [ { "node": "Is Reset Request?", "type": "main", "index": 0 } ]
      ]
    },
    "Is Reset Request?": {
      "main": [
        [ { "node": "Send Reset Code Email", "type": "main", "index": 0 } ],
        [ { "node": "Send Reject Email", "type": "main", "index": 0 } ]
      ]
    }
  }
}
